{% extends "base.html" %}

{% block main %}
<div class="login">
  <h1 class="title">Login</h1>
  <input type="text" id="username" autofocus required placeholder="Username">
  <input type="password" id="password" required placeholder="Password">
  <button id="login-btn" onclick="login()">Login</button>
  <p style="display: hidden;color: red;" id="error"></p>
  <a href="/register">Register</a>
</div>
<!-- <script src="{{ url_for('static', path='/login.js') }}"></script> -->
<script src="/static/login.js"></script>
{% endblock main %}
